.memories-h1{
    background-color: white;
    max-width: fit-content;
    position: relative;
    left: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
}
.memories-filters{
    background-color: white;
    max-width: fit-content;
    border: 1vh solid lightblue;
    margin-left: 1vh;
    display: inline-block;
    font-size: 1.8vh;
}
.memories-search{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-search h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
.memories-price{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-price h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
.memories-manufacturer{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-manufacturer h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
.memories-memorytype{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-memorytype h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
.memories-size{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-size h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
.memories-clock{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-clock h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
.memories-latency{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-latency h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
.memories-channel{
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.memories-channel h5{
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}
#flexCheckDefault{
    margin-right: 1vh;
}
.memories-list{
    display: inline-table;
    width: 75%;
    table-layout: fixed;
    margin-left: 1vh;
    border: 5px solid lightblue;
    background-color: white;
}


.memories-list tr{
    border-bottom: 1px solid #eeeeee;
    height: 8vh;
}
.memories-list th{
    padding: 2vh;
    text-align: center;
    border: 1px solid #eeeeee;
}