.monitor-h1 {
    background-color: white;
    max-width: fit-content;
    position: relative;
    left: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
}

.monitor-filters {
    background-color: white;
    max-width: fit-content;
    border: 1vh solid lightblue;
    margin-left: 1vh;
    display: inline-block;
    font-size: 1.8vh;
}

.monitor-search {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-search h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-price {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-price h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-manufacturer {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-manufacturer h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-ratio {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-ratio h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-panel {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-panel h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-hz {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-hz h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-resolution {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-resolution h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-resolutiontype {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-resolutiontype h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-reaction {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-reaction h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.monitor-size {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.monitor-size h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

#flexCheckDefault {
    margin-right: 1vh;
}

.monitor-list {
    display: inline-table;
    width: 65%;
    table-layout: fixed;
    margin-left: 1vh;
    border: 5px solid lightblue;
    background-color: white;
}


.monitor-list tr {
    border-bottom: 1px solid #eeeeee;
    height: 8vh;
}

.monitor-list th {
    padding: 2vh;
    text-align: center;
    border: 1px solid #eeeeee;
}