.motherboards-h1 {
    background-color: white;
    max-width: fit-content;
    position: relative;
    left: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
}

.motherboards-filters {
    background-color: white;
    max-width: fit-content;
    border: 1vh solid lightblue;
    margin-left: 1vh;
    display: inline-block;
    font-size: 1.8vh;
}

.motherboards-search {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-search h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-price {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-price h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-manufacturer {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-manufacturer h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-memorytype {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-memorytype h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-socket {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-socket h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-size {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-size h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-chipset {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-chipset h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-bluetooth {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-bluetooth h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.motherboards-wifi {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.motherboards-wifi h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}


#flexCheckDefault {
    margin-right: 1vh;
}

.motherboards-list {
    display: inline-table;
    width: 65%;
    table-layout: fixed;
    margin-left: 1vh;
    border: 5px solid lightblue;
    background-color: white;
}


.motherboards-list tr {
    border-bottom: 1px solid #eeeeee;
    height: 8vh;
}

.motherboards-list th {
    padding: 2vh;
    text-align: center;
    border: 1px solid #eeeeee;
}