.motherboards-h1 {
    text-align: center;
    width: fit-content;
    background-color: white;
    border-radius: 1vh;
    position: relative;
    left: 40%;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.motherboards {
    position: relative;
    left: 1%;
}

.motherboards-table {
    display: inline-table;
    position: relative;
    left: 10%;
    width: 65%;
    table-layout: fixed;
    margin-left: 1vh;
    border: 5px solid lightblue;
    background-color: white;
}

.motherboards-table th {
    padding: 2vh;
    text-align: center;
    border: 1px solid #eeeeee;
}

.motherboards-table tr {
    border-bottom: 1px solid #eeeeee;
    height: 8vh;
}

.motherboards-table td {
    text-align: center;
}

.container-motherboards {
    display: inline-block;
    width: fit-content;
    position: relative;
    left: 3%;
    background-color: white;
    border: 1vh solid lightblue;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5vh;
}
.container-motherboards h5{
    padding-top: 1vh;
    font-size: 1.8vh;
    font-weight: 700;
    border-bottom: 1px solid #eeeeee;
    text-align: right;
}

#root > div > div > section > div > section.form-check.filter-section-manufacturer{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2vh;
}

#root > div > div > section > div > section.form-check.filter-section-sockets{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2vh;
}
#root > div > div > section > div > section.form-check.filter-section-size{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2vh;
}
#root > div > div > section > div > section.form-check.filter-section-chipset{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2vh;

}

#root > div > div > section > div > section.form-check.filter-section-memorytype{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2vh;

}
#root > div > div > section > div > section.form-check.filter-section-bluetooth{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2vh;

}
#root > div > div > section > div > section.form-check.filter-section-wifi{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2vh;
}