.psu-h1 {
    background-color: white;
    max-width: fit-content;
    position: relative;
    left: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
}

.psu-filters {
    background-color: white;
    max-width: fit-content;
    border: 1vh solid lightblue;
    margin-left: 1vh;
    display: inline-block;
    font-size: 1.8vh;
}

.psu-search {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.psu-search h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.psu-price {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.psu-price h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.psu-manufacturer {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.psu-manufacturer h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.psu-type {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.psu-type h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.psu-performance {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.psu-performance h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.psu-efficiency {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.psu-efficiency h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

#flexCheckDefault {
    margin-right: 1vh;
}

.psu-list {
    display: inline-table;
    width: 75%;
    table-layout: fixed;
    margin-left: 1vh;
    border: 5px solid lightblue;
    background-color: white;
}


.psu-list tr {
    border-bottom: 1px solid #eeeeee;
    height: 8vh;
}

.psu-list th {
    padding: 2vh;
    text-align: center;
    border: 1px solid #eeeeee;
}