.processor-h1 {
    background-color: white;
    max-width: fit-content;
    position: relative;
    left: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
}

.processor-filters {
    background-color: white;
    max-width: fit-content;
    border: 1vh solid lightblue;
    margin-left: 1vh;
    display: inline-block;
    font-size: 1.8vh;
}

.processor-search {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-search h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.processor-price {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-price h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.processor-brand {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-brand h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.processor-cores {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-cores h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.processor-series {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-series h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.processor-socket {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-socket h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.processor-igp {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-igp h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

.processor-maxclock {
    padding: 1vh;
    border-bottom: 1px solid #eeeeee;
}

.processor-maxclock h5 {
    font-size: 2vh;
    font-weight: 700;
    text-align: right;
}

#flexCheckDefault {
    margin-right: 1vh;
}

#flexCheckDefault {
    margin-right: 1vh;
}

.processor-list {
    display: inline-table;
    width: 65%;
    table-layout: fixed;
    margin-left: 1vh;
    border: 5px solid lightblue;
    background-color: white;
}


.processor-list tr {
    border-bottom: 1px solid #eeeeee;
    height: 8vh;
}

.processor-list th {
    padding: 2vh;
    text-align: center;
    border: 1px solid #eeeeee;
}