.guidance-h3{
    text-align: center;
    background-color: #eeeeee;
    padding: 1vh;
}
.container-md{
    background-color: white;
    text-align: center;
    margin: auto;
}
.container-h3{
    text-align: left;
}