body {
    background-image: url('background.jpg');
    font-family: serif;
    color: black;
}

.form-container {
    position: relative;
    left: 35%;
    min-height: 75vh;
    max-width: 60vh;
    background-color: lightblue;
    opacity: 0.95;
    padding-bottom: 5vh;
    padding-top: 5vh;
    margin-top: 10vh;
    border: black solid 2vh;
    border-radius: 10vh;
    letter-spacing: normal;
}

.form-container button {
    margin-bottom: 1vh;
    margin-top: 5vh;
}

.form-h1 {
    padding-bottom: 2vh;
    font-size: 4vh;
    font-weight: 700;
    letter-spacing: normal;
}

.container-pwdcontrol, .container-usercontrol {
    position: relative;
    left: 22%;
    max-width: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 15px;
}

.label-lg, .label-pwd {
    font-weight: 700;
    display: block;
}

.login, .register {
    display: block;
    position: relative;
    left: 22%;
    min-width: 30vh;
    min-height: 8vh;
    border-radius: 5vh;
    font-weight: 700;

}
