.builder-h2 {
    position: relative;
    left: 40%;
    border-radius: 3vh;
    margin-bottom: 3vh;
    margin-top: 2vh;
    padding: 1vh;
    font-size: 3.5vh;
    letter-spacing: normal;
    max-width: fit-content;
    background-color: #eeeeee;

}

.table-content {
    background-color: snow;
    border: lightblue solid 1vh;
    border-radius: 2vh;
    min-height: 80vh;
    min-width: 100vh;
    text-transform: none;
    margin: 4vh;
    padding: 2vh;
    font-weight: 700;
}

.table-content thead {
    font-size: 2.5vh;
    border-bottom: 0.3vh solid #eeeeee;
    border-right: 0.3vh solid #eeeeee;
    letter-spacing: normal;
    text-align: center;
}

.component {
    text-align: center;
    width: 20vh;
}

.table-content td {
    margin: 2vh;
    letter-spacing: normal;
    padding: 3vh;
    height: 8vh;
    border: 2px solid black;
}

.column {
    text-align: left;
}

.price {
    padding-top: 5vh;
    font-size: 25px;
    letter-spacing: normal;
    font-weight: 700;
}

.add-button {
    border-radius: 2vh;
    font-size: 2vh;
}

.save {
    min-width: 15vh;
    min-height: 5vh;
    position: relative;
    left: 90%;
    border-radius: 5vh;
}
