body{
    background-image: none;
    font-size: 2vh;
}
.title-h1{
    font-size: 3vh;
    text-align: center;
    padding: 0.5vh;

}
.row{
}
.intel-section{
    text-transform: none;
    font-size: 3vh;
    text-align: left;
    padding-left: 5vh;
    margin-bottom: 2vh;
    color: black;
    background-color: white;
    border-bottom: 3px solid black;
}

.amd-section{
    text-transform: none;
    font-size: 3vh;
    text-align: left;
    padding-left: 5vh;
    margin-top: 30vh;
    margin-bottom: 2vh;
    color: black;
    background-color: white;
    border-bottom: 3px solid black;
}

.left-element{
    margin-bottom: 5vh;
}