body {
    font-size: 2vh;
    font-family: 'Gill Sans', sans-serif;
}

.title-h1 {
    font-size: 4vh;
    position: relative;
    left: 40%;
    padding: 1vh;
    letter-spacing: normal;
    max-width: fit-content;
    background-color: #eeeeee;
    border-radius: 3vh;
    margin-bottom: 3vh;
    margin-top: 1vh;
}

.row {
    background: white;
    text-transform: none;
    letter-spacing: normal;
    margin: 2vh;
    border: lightblue solid 15px;
    border-radius: 5vh;
    text-align: center;
}

.intel-section {
    max-width: fit-content;
    text-transform: none;
    font-size: 4vh;
    text-align: left;
    margin-left: 5vh;
    color: black;
    background-color: #eeeeee;
    border-radius: 1vh;
    letter-spacing: normal;
}

.amd-section {
    max-width: fit-content;
    text-transform: none;
    font-size: 4vh;
    text-align: left;
    margin-left: 5vh;
    color: black;
    background-color: #eeeeee;
    border-radius: 1vh;
    letter-spacing: normal;
}

.left-box {
    border: 3px solid #eee;
    border-radius: 5vh;
    padding: 1vh;
    min-height: 80vh;
    max-width: 60vh;
    margin: 2vh;
    font-weight: 600;
}

.left-box p, .middle-box p, .right-box p {
    letter-spacing: normal;
    padding-top: 1vh;
}

.image-section {
    padding-top: 2vh;
}

.image-section img {
    height: 128px;
    width: 128px;
    padding: 0.5vh;
    margin: 0.5vh;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.left-box h4, .middle-box h4, .right-box h4 {
    padding-top: 5vh;
    color: red;
    font-weight: 700;
}

.middle-box {
    padding: 1vh;
    margin: 2vh;
    border: 3px solid #eee;
    border-radius: 5vh;
    min-height: 80vh;
    max-width: 60vh;
    font-weight: 600;
}

.right-box {
    padding: 1vh;
    margin: 2vh;
    border: 3px solid #eee;
    border-radius: 5vh;
    min-height: 80vh;
    max-width: 60vh;
    font-weight: 600;
}